VITE_HOSTNAME = "http://localhost:3000"
VITE_AUTH_PATH=/api/auth
VITE_DATABASE_URL=
VITE_DATABASE_KEY=

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=""

# Direct connection to the database. Used for migrations.
DIRECT_URL=""

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

AUTH_TRUST_HOST=true
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
